@import 'assets/_variables.scss';

.svg-card {
  position: relative;
  height: 320px;
  color: #333;
  background-color: white;
  margin: 24px 0;
  border-radius: 8px;
  overflow: hidden;

  &:hover {
    box-shadow: 5px 12px 20px rgba(36, 37, 38, 0.13);
    img,
    span {
      opacity: 1;
    }
    h2,
    p {
      transform: translateY(16px);
    }
    p {
      opacity: 0;
      transition-delay: 0s;
      transition-duration: 0.1s;
    }
    button {
      opacity: 1;
      transform: translateY(-50%) translateX(-50%) scale(1);
    }
    .label {
      transform: translateY(0);
    }
  }

  figure {
    position: relative;
    height: 100%;
    margin: 0;
    background: #333;

    img,
    span {
      position: relative;
      display: block;
      width: 100%;
      height: 100%;
      opacity: 0.7;
      transition: opacity 0.3s;
    }

    svg {
      position: absolute;
      top: -1px; /* fixes rendering issue in FF */
      width: 100%;
      height: 100%;
      z-index: 10;
      path {
        fill: #fff;
      }
    }

    figcaption {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      text-align: center;
      z-index: 11;

      h2 {
        margin: 0;
        color: #3498db;
        font-size: 130%;
        font-weight: 300;
        letter-spacing: 1px;
        text-transform: uppercase;
        transition: transform 0.3s;
      }
      p {
        padding: 0 20px;
        color: #aaa;
        font-weight: 300;
        transition: opacity 0.3s, transform 0.3s;
        transition-delay: 0.05s;
      }
      h2,
      p {
        transform: translateY(50px);
      }

      button {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%) scale(0.25);
        border: 3px solid #fff;
        padding: 4px 20px;
        color: #fff;
        font-weight: bold;
        letter-spacing: 1px;
        text-transform: uppercase;
        background: transparent;
        outline: none;
        opacity: 0;
        cursor: pointer;
        transition: opacity 0.3s, transform 0.3s;
      }

      .label {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 44px;
        line-height: 44px;
        background-color: rgba(255, 255, 255, 0.8);
        color: #333;
        font-size: 0.8rem;
        font-weight: 300;
        text-transform: uppercase;
        transform: translateY(44px);
        transition: transform 0.3s ease-out;
        cursor: pointer;

        display: flex;
        justify-content: space-around;
        em {
          display: inline-block;
          width: 16px;
          height: 16px;
          border-radius: 50%;
          margin-top: 12px;
        }
      }
    }
    figcaption,
    h2,
    p,
    button {
      backface-visibility: hidden;
    }
  }
}

@media (min-width: map-get($grid-breakpoints, 'xl')) {
  .svg-card {
    width: calc(25% - 24px);
  }
}
@media (max-width: map-get($grid-breakpoints, 'lg')) {
  .svg-card {
    width: calc(33.3% - 24px);
  }
}
@media (max-width: map-get($grid-breakpoints, 'md')) {
  .svg-card {
    width: calc(50% - 24px);
  }
}
@media (max-width: map-get($grid-breakpoints, 'sm')) {
  .svg-card {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}
