@import 'assets/_variables.scss';

.nav {
  position: fixed;
  z-index: 999;
  left: 0;
  right: 0;
  top: 0;
  border-bottom: 1px solid #ebebeb;
  background-color: rgba(255, 255, 255, 0.9);

  .nav__container {
    height: 87px;
    margin: auto;
    padding: 0 30px;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;

    .nav__button {
      margin-right: 15px;
    }

    .nav__button:last-child {
      margin-right: 0;
    }
  }

  @media (max-width: map-get($grid-breakpoints, 'sm')) {
    .nav__container {
      height: 50px;
      -ms-flex-pack: center;
      justify-content: center;

      .nav__buttons_box {
        display: none;
      }
    }
  }
}

.button {
  font-family: Montserrat, Helvetica, sans-serif;
  font-size: 10px;
  font-weight: 600;
  color: #333435;
  display: inline-block;
  min-width: 120px;
  height: 42px;
  line-height: 36px;
  border-radius: 42px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.065em;
  cursor: pointer;
  transition: background-color 0.25s ease-out, box-shadow 0.25s ease;

  &.active {
    color: #222;
    font-weight: bolder;
    background-color: #f6f6f6;
  }
  &:hover,
  &:focus {
    background-color: #f6f6f6;
  }

  @media (max-width: map-get($grid-breakpoints, 'md')) {
    min-width: 100px;
  }
}
